@import "tailwindcss";

@theme {
  --color-institucional-blue: #0038a8;
  --color-institucional-yellow: #fdb913;
  --color-institucional-light: #f8f9fa;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: #f8f9fa;
}
